################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NT.IPTV/bin/Debug/net8.0-windows
/NT.IPTV/obj
/NT.IPTV/bin/Release/net8.0-windows
/NT.IPTV/Properties/PublishProfiles
