################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NT.IPTV/bin/Debug/net8.0-windows
/NT.IPTV/obj
/NT.IPTV/bin/Release/net8.0-windows
/NT.IPTV/Properties/PublishProfiles
/NileFusion.IPTV.Web/node_modules
dist/
/NileFusion.IPTV.Web/dist.zip
/NT.IPTV/bin/Debug/net10.0-windows/NT.IPTV.dll
/NT.IPTV/bin/Debug/net10.0-windows/NT.IPTV.exe
/NT.IPTV/bin/Debug/net10.0-windows/NT.IPTV.pdb
/NT.IPTV/bin/Release/net10.0-windows
